 #ResumeS body {
  background-color: #c597de;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Bitter", serif;
   text-align: center;
}

 #ResumeS section {
  padding-top: 20px;
  padding-bottom: 20px;
}





#ResumeS header {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}
